{% extends "base.html" %}

{% block content %}
<div class="flex justify-between items-center">

    <h1 class="text-3xl font-bold mb-4">All Blog</h1>
    <!-- <a href="{% url 'addblog' %}">add</a> -->
    <a href="{%url 'addblog' %}" class="border border-blue-500 bg-blue-500 cursor-pointer text-white py-2 px-4 rounded-md font-bold mb-4">Add New Blog</a>
</div>

    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-5">
        {% for post in posts %}
        <div class=" p-4 border border-gray-300 rounded">
            {% if post.profile_photo %}
                <img src="{{ post.profile_photo.url }}" alt="{{ post.title }}">
            {% else %}
                <img src="" alt="Default Profile Photo">
            {% endif %}
            <h2 class="text-2xl font-bold">
                <a href="{% url 'blog_detail' post.slug %}">{{ post.title }}</a>
            </h2>
            <p class="text-sm text-gray-600">By {{ post.author }} | {{ post.created_at|date:"F d, Y" }}</p>
            <p>{{ post.content|truncatewords:20 }}</p>
        </div>
    {% endfor %}
    </div>
    
  
{% endblock %}
